
html {
}

body {
  margin: 0.2rem 0 0 0;
  padding: 0;
}

p {
  margin: 1rem 0.5rem 0.5rem 1.7rem;
  line-height: 1.5;
}

#rpgmap {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
  font-size: 2rem;
  font-style: italic;
  color: rgba(150, 50, 150, 1);
  display: inline;
  margin: 0% 0% 0% 10%;
  cursor:pointer;
}

#docs {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.4rem;
  display: inline;
  cursor:pointer;
}

@media screen and (max-width: 750px) {
  #docs {
    visibility: hidden;
  }
  #rpgmap {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 751px) {
  #docs {
    visibility: visible;
  }
  #rpgmap {
    font-size: 2rem;
  }
}

#version {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  float: right;
  display: inline;
  padding: 0% 3% 1% 3%;
}

#container {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

#navigation {
  position: fixed;
  height: 88vh;
  width: 30vw;
  overflow-y: scroll;
  padding: 1.5% 1% 0% 1%;
  margin: 1% 0% 0% 1.8%;
  top: 5%;
  border-top: 4px solid rgba(200, 150, 200, 0.3);  
}

#content {
  position: fixed;
  height: 90vh;
  overflow-y: scroll;
  border-left: 4px solid rgba(200, 150, 200, 0.3);
  width: 60%;
  top: 1%;
  padding: 5% 3% 1.5% 3%;
  right: 0px;
  line-height: 130%;
}

#footer {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.6rem;
  position: absolute;
  bottom: 0px;
  text-align: right;
  width: 100%;"
}

.navlink1 {
  display: block;
  font-size: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.navlink2 {
  display: block;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  margin-left: 1rem;
  margin-right: 0;
}

.navlink3 {
  display: block;
  font-size: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 0;
  margin-left: 1rem;
  margin-right: 0;
}

.navlink4 {
  display: block;
  font-size: 0.8rem;
  margin-top: 0.6rem;
  margin-bottom: 0;
  margin-left: 1rem;
  margin-right: 0;
}

.navprocnm {
  display: inline;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.navprocnm2 {
  display: inline;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1rem;
}

.prochdr1 {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.3rem;
  display: inline;
  margin: 1rem 0rem 0rem 0.8rem;
}

.prochdr2 {
  font-size: 1.1rem;
  display: inline;
}

.prochsep {
  font-size: 1rem;
  color: red;
  display: inline;
}

.proclongnm {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1rem;
  margin: 0.4rem 0rem 0rem 2.5rem;
}

.procsig {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
  margin: 1rem 0rem 0rem 4rem;
  line-height: 110%;
  overflow: hidden;
}

code {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
  color: #007;
}

.pcode {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
  margin: 0rem 0rem 0rem 4rem;
}

.console {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
  color: green;
  margin: 0% 0% 0% 10%;
  margin: 0rem 0rem 0rem 6rem;
}

.escmsg1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
  display: inline;
  margin: 0rem 0rem 0rem 2rem;
}

.escmsg2 {
  font-size: 0.9rem;
  display: inline;
  margin: 0rem 0rem 0rem 2rem;
}

::selection {
  background-color: rgba(200, 150, 200, 0.3);
  text-shadow: none;
}

#navigation a, #footer a {
  text-decoration: none;
  color: black;
}
#content a {
  text-decoration: underline;
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: black;
}
a:visited {
  color: black;
}
h1 {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0
}
h2 {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 2rem 0rem 0rem 0.5rem;
}
h3 {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0rem 0rem 1.3rem;
}
