::selection {
  background-color: rgba(200, 200, 70, 0.7);
}

* {
  color: black;
  line-height: 1.4;
}

html {
  height: 100%;
  font-size: 1.2vw;
}

body {
  margin: 0.4rem 0 0 0;
  padding: 0;
  background-color: #F9F9F9;
  letter-spacing: 0.01rem;
}

p {
  margin: 1rem 0.5rem 0.5rem 1rem;
}

hr {
  height: 3px;
  background-color: rgba(150, 25, 25, 0.3);
}

#cpyr {
  font-size: 0.7rem;
  position: fixed;
  bottom: 6px;
  right: 18px;
  text-align: right;
  width: 100%;
}

#pname {
  font-family: Ubuntu Mono;
  font-weight: bold;
  font-size: 1.8rem;
  font-style: italic;
  color: rgb(150, 25, 25);
  display: inline;
  margin: 0 0 0 5%;
  cursor: pointer;
}

#docs {
  font-family: Roboto Mono;
  font-size: 1.2rem;
  display: inline;
  cursor: pointer;
}

@media all and (max-height: 450px) {
  #pname {
    font-size: 1.3rem;
  }
}
@media all and (min-height: 451px) {
  #pname {
    font-size: 1.8rem;
  }
}
@media all and (max-width: 500px) {
  #docs {
    visibility: hidden;
  }
}
@media all and (min-width: 501px) {
  #docs {
    visibility: visible;
  }
}

#emver {
  float: right;
  padding: 0.2% 0.5% 0 0;
}

#container {
  font-family: Roboto;
  font-size: 1rem;
}

#navigation {
  position: fixed;
  height: 88vh;
  width: 22rem;
  overflow-y: scroll;
  margin: 1% 0% 0% 1.8%;
  top: 5.5%;
  border-top: 3px solid rgba(150, 25, 25, 0.3);
}

#content {
  position: fixed;
  height: 100vh;
  overflow-y: scroll;
  border-left: 3px solid rgba(150, 25, 25, 0.3);
  left: 25rem;
  top: 0%;
  padding: 5% 3% 1.5% 3%;
  right: 0px;
  max-width: 60em;
}

#footer {
  font-family: Roboto Mono;
  font-size: 0.6rem;
  position: absolute;
  bottom: 0px;
  text-align: right;
  width: 100%;
}

.navlink1 {
  font-size: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 150%;
  white-space: nowrap;
}

.navlink2 {
  font-size: 0.9rem;
  margin-top: 0.3rem;
  margin-bottom: 0rem;
  margin-left: 1rem;
  margin-right: 0;
  white-space: nowrap;
}

.navproc1 {
  font-size: 0.9rem;
  margin: 0 0 0 1rem;
  font-family: Roboto Mono;
  font-weight: bold;
}

.navproc2 {
  font-size: 0.8rem;
  font-family: Roboto;
  margin: 0;
  white-space: nowrap;
}

.navproc3 {
  font-size: 0.9rem;
  margin: 0 0 0 1rem;
  font-family: Roboto Mono;
  font-weight: bold;
}

.navproc4 {
  font-size: 0.8rem;
  font-family: Roboto;
  margin: 0 0 0 2em;
  white-space: nowrap;
}

.navprocnm2 {
  display: inline;
  font-family: Ubuntu Mono;
  font-size: 1rem;
}

.prochdr1 {
  font-family: Ubuntu Mono;
  font-size: 1.3rem;
  display: inline;
  margin: 1rem 0rem 0rem 0.8rem;
}

.prochdr2 {
  font-size: 1.1rem;
  display: inline;
}

.prochdr3 {
  font-size: 1.1rem;
  display: inline;
  margin: 0rem 0rem 0rem 3rem;
}

.prochsep {
  font-size: 1rem;
  color: red;
  display: inline;
}

.proclongnm {
  font-family: Ubuntu Mono;
  font-size: 1rem;
  margin: 0.4rem 0rem 0rem 2.5rem;
}

.procsig {
  font-family: Roboto Mono;
  font-size: 0.8rem;
  margin: 1rem 0rem 0rem 3.5rem;
  overflow: hidden;
  color: #009966;
}

code {
  font-family: Ubuntu Mono;
  color: #0000B0;
}

a code {
  font-family: Ubuntu Mono;
  color: #D03070;
}

.pcode {
  font-family: Roboto Mono;
  font-size: 0.8rem;
  margin: 0rem 0rem 0rem 4rem;
  color: #003399;
}

.console {
  font-family: Roboto Mono;
  font-size: 0.8rem;
  color: green;
  margin: 0% 0% 0% 10%;
  margin: 0rem 0rem 0rem 6rem;
}

.escmsg1 {
  font-family: Roboto Mono;
  font-size: 0.8rem;
  margin: 0rem 0rem 0rem 2rem;
}

.escmsg2 {
  line-height: 2rem;
  font-size: 0.9rem;
  display: inline;
  margin: 0rem 0rem 0rem 2rem;
}

.bullet1 {
  color: rgba(255, 0, 0, 0.4);
}

a {
  text-decoration: none;
}
#content a {
  color: green;
}

h1 {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0
}
h2 {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 2rem 0rem 0rem 0.5rem;
}
h3 {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0rem 0rem 1.3rem;
}

